<!DOCTYPE html>
<html>
<head>
  <title>TaskListApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>

<header>
  <h1>ToDo List</h1>
</header>


<body>

<div id ="primary">
  <%= yield %>
</div>

<div id="sidebar">
  <%= render 'layouts/sidebar' %>
</div>

<%= render 'layouts/footer' %>


</body>
</html>